{% extends "payments/base.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
  <h1>Checkout</h1>
    <h3>Your order</h3>
    <ul>
        {% for item in cart %}
            <li>
                {{ item.quantity }} {{ item.product.name }}:<br>
                {{ item.total_price }} {{ item.product.currency }}
            </li>
        {% endfor %}
    </ul>
    <p>Total: {{ cart.get_total_price }} RUB</p>
    <form method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>
{% endblock %}