{% extends "payments/base.html" %}
{% block title %}
 {{ item.name }}
{% endblock %}
{% block content %}
    <h1>{{ item.name }}</h1>
    <p>{{ item.description|linebreaks }}</p>
    <p>Price: {{ item.price }} {{ item.currency }}</p>
    <button id="buy-button">Buy</button>
    <form action="{% url 'cart:cart_add' item.id %}" method="post">
        {{ cart_item_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
    </form>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ stripe_publishable_key }}');

        document.getElementById('buy-button').addEventListener('click', function () {
            fetch('/buy/{{ item.id }}')
            .then(response => response.json())
            .then(data => {
                return stripe.redirectToCheckout({ sessionId: data.sessionId });
            })
            .then(result => {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
{% endblock %}