{% extends "payments/base.html" %}

{% block title %}Pay your order{% endblock %}

{% block content %}
  <h1>Order summary</h1>
  {% for item in order.items.all %}
    <li>
      <p>Product: {{ item.item.name }}</p>
      <p>Price: {{ item.price }} {{ item.item.currency }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <p>Total: {{ item.get_cost }} {{ item.item.currency }}</p>
    </li>
  {% endfor %}
  <b>Overall in RUB:</b> {{ order.get_total_cost }} RUB
  <form action="{% url 'payment:buy_order' %}" method="post">
    <input type="submit" value="Pay now">
    {% csrf_token %}
  </form>
{% endblock %}