<head>
  <title>Checkout</title>
  <style>
    #payment-form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    #submit {
      background-color: #4CAF50;
      color: white;
      padding: 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 20px;
    }
    #submit:hover {
      background-color: #45a049;
    }

    #payment-message {
      margin-top: 10px;
    }
  </style>
</head>
<body>
<div class="order-summary" style="background-color: #1a1a1a; padding: 20px; color: #ffffff;">
  <h1>Order summary</h1>
  <ul>
    {% for item in order.items.all %}
      <li>
        <p>Product: {{ item.item.name }}</p>
        <p>Price: {{ item.price }} {{ item.item.currency }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Total: {{ item.get_cost }} ₽</p>
      </li>
    {% endfor %}
  </ul>
  {% if order.coupon %}
    <p><b>Discount:</b> "{{ order.coupon.code }}" ({{ order.discount }}% off) – ₽{{ order.get_discount|floatformat:2 }}</p>
  {% endif %}
  {% if order.tax.exists %}
    <p><b>Taxes:</b></p>
    <ul>
      {% for tax in order.tax.all %}
        <li>{{ tax.name }} ({{ tax.rate }}%): ₽{{ order.get_total_tax|floatformat:2 }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <b>Overall:</b> {{ order.get_total_cost|floatformat:2 }} ₽
</div>
<form id="payment-form">
  <div id="payment-element">
    <!-- Elements will create form elements here -->
  </div>
  <button id="submit">Buy</button>
  <div id="payment-message" class="hidden">
    <p id="error-message"></p>
  </div>
  {% csrf_token %}
</form>
</body>

<script src="https://js.stripe.com/v3/"></script>
<script>
  const csrftoken = '{{ csrf_token }}';
  const stripe = Stripe('{{ stripe_key }}');
  const options = {
    clientSecret: '{{ client_secret }}',
        appearance: {
          theme: 'night',
        },
  };
  const elements = stripe.elements(options);

  const paymentElement = elements.create('payment');
  paymentElement.mount('#payment-element');

  const form = document.getElementById('payment-form');
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    const {error} = await stripe.confirmPayment({
      elements,
      confirmParams: {
        return_url: "{{ completed_url }}",
      },
    });

    if (error) {
      const messageContainer = document.querySelector('#error-message');
      messageContainer.textContent = error.message;
    } else {
      console.log('Redirecting to Stripe Checkout...');
    }
  });
</script>
