{% extends "payments/base.html" %}

{% block title %}
 Your shopping cart
{% endblock %}

{% block content %}
  <h1>Your shopping cart</h1>
  {% for item in cart %}
    {% with product=item.product %}
      <a href="{{ item.get_absolute_url }}"></a>
      <p>{{ product.name }}</p>
      <form action="{% url 'cart:cart_add' product.id %}" method="post">
          {{ item.update_quantity_form.quantity }}
          {{ item.update_quantity_form.override }}
          <input type="submit" value="Update">
          {% csrf_token %}
      </form>
      <form action="{% url 'cart:cart_remove' product.id %}" method="post">
          <input type="submit" value="Remove">
          {% csrf_token %}
      </form>
      <p>Unit price: {{ product.currency }} {{ item.price }}</p>
      <p>Price: {{ product.currency }} {{ item.total_price }}</p>
    {% endwith %}
  {% endfor %}

  {% if cart.coupon %}
    <p>₽{{ cart.get_total_price|floatformat:2 }}</p>
    <p>"{{ cart.coupon.code }}" coupon</p>
    <p>({{ cart.coupon.discount }}% off)</p>
    <p>– ₽{{ cart.get_discount|floatformat:2 }}</p>
  {% endif %}

  <p>Total:</p>
    ₽{{ cart.get_total_price_after_discount|floatformat:2 }}

  <p>Apply a coupon:</p>
  <form action="{% url 'coupons:apply' %}" method="post">
      {{ coupon_apply_form }}
      <input type="submit" value="Apply">
      {% csrf_token %}
  </form>

  <p>
     <a href="{% url 'payments:item_list' %}" class="button
     light">Continue shopping</a>
  </p>
  <a href="{% url 'orders:order_create' %}" class="button">
    Checkout
  </a>
{% endblock %}